- file_type = job_application_file.job_application_file_type
- link = link_for_file(job_application, job_application_file)
.rf-mb-3w
  %h3= file_type.name
  = link_to "Télécharger le fichier", link, target: '_blank'
