- job_application_files = @job_application.job_application_files.to_a
- current_state = JobApplication.states[@job_application.state]
- job_application_file_types = JobApplicationFileType.where(by_default: true).where("from_state <= ?", current_state).where(kind: %i(applicant_provided template)).all
- job_application_file_types.each do |job_application_file_type|
  - job_application_file = job_application_files.detect{|x| x.job_application_file_type == job_application_file_type}
  - job_application_file ||= @job_application.job_application_files.build job_application_file_type: job_application_file_type
  - if job_application_file_type.kind == "template"
    - if !job_application_file.new_record?
      = render partial: 'file_name_template', locals: {job_application_file: job_application_file, job_application: @job_application}
  - else
    = render partial: 'file_name_upload', locals: {job_application_file: job_application_file, job_application: @job_application}
