.list-group.stepper
  - entries = {show: :update, change_password: :update_password, change_email: :update_email}
  - entries.each do |entry, alias_entry|
    - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
    - klasses << 'active' if [entry.to_s, alias_entry.to_s].include?(controller.action_name)
    - url = [:admin, :account]
    - url.unshift(entry) unless entry == :show
    = link_to url, class: klasses do
      = t(".#{ entry }")
