- if FrequentlyAskedQuestion.count > 0
  .rf-container.rf-my-9w
    .rf-grid-row.rf-grid-row--center
      .rf-col-12
        %h2.rf-h3.text-center.rf-mt-0.rf-mb-4w Foire aux questions
      .rf-col-12
        .rf-accordions-group
          - FrequentlyAskedQuestion.all.each_with_index do |faq, index|
            %section.rf-accordion
              %h3.rf-accordion__title
                %button.rf-accordion__btn{"aria-controls" => "accordion-#{index}", "aria-expanded" => "false"}
                  = faq.name
              %div.rf-collapse{id: "accordion-#{index}"}
                = sanitize(faq.value)
