- if FrequentlyAskedQuestion.count > 0
  .fr-container.fr-my-9w
    .fr-grid-row.fr-grid-row--center
      .fr-col-12
        %h2.fr-h3.text-center.fr-mt-0.fr-mb-4w Foire aux questions
      .fr-col-12
        %ul.fr-accordions-group
          - FrequentlyAskedQuestion.all.each_with_index do |faq, index|
            %li
              %section.fr-accordion
                %h3.fr-accordion__title
                  %button.fr-accordion__btn{aria: {controls: faq.id, expanded: false}, data: {controller: 'fr-accordions-management', action: 'click->fr-accordions-management#collapse'}}
                    = faq.name
                .fr-collapse{id: faq.id}
                  = sanitize(faq.value)
