.fr-container
  .fr-grid-row.fr-grid-row--gutters.fr-grid-row--center.fr-mb-0
    .fr-col-12.fr-col-md-11.fr-col-lg-10
      .fr-grid-row.fr-hero
        - illustration_url = current_organization.image_background.url if current_organization.image_background.present?
        .fr-col-12.d-flex.flex-column.align-items-center.justify-content-center{class: illustration_url.present? ? 'fr-col-md-6' : nil}
          %h1.text-justify.fr-h2.fr-mb-0= @page_title
        - if illustration_url.present?
          .fr-col-12.fr-col-md-6.fr-pl-9w.d-flex.flex-column.align-items-center.justify-content-center
            = image_tag illustration_url, style: 'max-width:100%;'
