- logo_url = current_organization.partner_1_logo.present? ? current_organization.partner_1_logo.url : (current_organization.operator_logo.present? ? current_organization.operator_logo.url : nil)
- style = "background: url(#{logo_url}) center right/auto 90px no-repeat"
.rf-container
  .rf-grid-row.rf-grid-row--gutters.rf-grid-row--center.rf-mb-0
    .rf-col-12.rf-col-md-10
      .rf-grid-row{style: style}
        .rf-col-12.rf-col-md-6
          %h1.rf-h2.rf-mb-0.rf-my-9w= @page_title
