- style = current_organization.image_background.present? ? "background-image: linear-gradient(var(--bg-image), var(--bg-image)), url(#{ current_organization.image_background.url });" : nil
%section.rf-bg--alt.rf-bg--hero-image.d-flex.justify-content-center.align-items-center{style: style}
  .rf-container
    .rf-grid-row.rf-grid-row--center.rf-grid-row--gutters.rf-mb-0
      .rf-col-12.rf-col-md-10.rf-col-lg-9
        %h1.text-center.rf-mb-0.block--overlap= @page_title
