%section.fr-py-9w.fr-bg-beige
  .fr-container
    .fr-grid-row.fr-grid-row--gutters
      .fr-col-12
        %h2.fr-h3.fr-mb-4w Nos dernières offres
    .fr-grid-row.fr-grid-row--gutters.job-offer-grid
      = render collection: @job_offers_last, partial: 'job_offers/job_offer', locals: { container_class: %w[fr-col-12 fr-col-md-6] }
    .fr-grid-row.fr-grid-row--center.fr-mt-4w
      = link_to "Voir toutes nos offres", :job_offers, class: "fr-btn"
