.fr-container.fr-my-9w
  .fr-grid-row
    %h2.fr-h3.fr-mb-2w Nos offres à la une
  .fr-grid-row.fr-grid-row--gutters.fr-card-deck.fr-mb-0
    = render partial: 'job_offer_headline_card', collection: @job_offers_selected, as: :job_offer
