- if current_organization.testimony_title
  - style = current_organization.testimony_logo.present? ? "background-image: linear-gradient(var(--bg-image), var(--bg-image)), url(#{ current_organization.testimony_logo.url });" : nil
  %section.fr-bg--alt-2.fr-bg--hero-image.d-flex.align-items-center.fr-py-9w{style: style}
    .fr-container
      .fr-grid-row.fr-grid-row--center
        .fr-h2.font-weight-bold.text-uppercase.fr-mb-0
          = current_organization.testimony_title
      .fr-grid-row.fr-grid-row--center
        .fr-text--lead.text-uppercase.fr-mb-3w
          = current_organization.testimony_subtitle
      .fr-grid-row.fr-grid-row--center
        = link_to 'Découvrir son histoire', current_organization.testimony_url, class: 'fr-btn', target: "_blank"
