- if current_organization.testimony_title
  - style = current_organization.testimony_logo.present? ? "background-image: linear-gradient(var(--bg-image), var(--bg-image)), url(#{ current_organization.testimony_logo.url });" : nil
  %section.rf-bg--alt-2.rf-bg--hero-image.d-flex.align-items-center.rf-py-9w{style: style}
    .rf-container
      .rf-grid-row.rf-grid-row--center
        .rf-h2.font-weight-bold.text-uppercase.rf-mb-0
          = current_organization.testimony_title
      .rf-grid-row.rf-grid-row--center
        .rf-text--lead.text-uppercase.rf-mb-3w
          = current_organization.testimony_subtitle
      .rf-grid-row.rf-grid-row--center
        = link_to 'Découvrir son histoire', current_organization.testimony_url, class: 'rf-btn', target: "_blank"
