- resource_class = User
- provider = :france_connect

- resource_name = resource_class.name.underscore.to_sym
- devise_mapping = Devise.mappings[resource_name]

- if devise_mapping.omniauthable? && resource_class.omniauth_providers.include?(provider)
  .text-center
    %p FranceConnect est la solution proposée par l’État pour sécuriser et simplifier la connexion à vos services en ligne
    = link_to omniauth_authorize_path(resource_name, provider), class: "france-connect-link", method: :post do
      .normal= image_pack_tag('images/franceconnect-bouton.svg')
      .hover= image_pack_tag('images/franceconnect-bouton-hover.svg')
    .france-connect-details= link_to "Qu’est-ce que FranceConnect ?", "https://franceconnect.gouv.fr/"
