<p>
  <%-if @administrator.full_name.present? %>
  Bonjour <%= @administrator.full_name %>,
  <%- else %>
  Bonjour,
  <%- end %>
</p>

<p>
  Nous vous invitons à mettre à jour votre compte utilisateur sur le site
  <%= link_to @service_name, ENV.fetch('DEFAULT_HOST') %>. 
  Sans mise à jour de celui-ci sous <%= @days_notice_period_before_deletion %> jours, 
  votre compte sera désactivé automatiquement.
</p>

<p>
  Cordialement,
</p>

<p>
  L'équipe de recrutement de <%= @service_name %>
</p>
