- is_archived = defined?(is_archived) ? is_archived : nil
.card{id: dom_id(user, 'profile')}
  .card-header.bg-white.font-weight-bold.text-secondary
    = fa_icon('file-document', class: 'text-secondary')
    Données personnelles
  .card-body.bg-white
    - fields = personal_fields
    - fields.each do |field|
      - hsh = {form_object: user, field: field, disabled: is_archived}
      = render partial: '/admin/profiles/profile_field', locals: hsh
