- profile = form_object.profile
- is_archived = defined?(is_archived) ? is_archived : nil
.card{id: dom_id(profile, 'profile')}
  .card-header.bg-white.font-weight-bold.text-secondary
    = fa_icon('file-document', class: 'text-secondary')
    Données Professionnelles et Statistiques
  .card-body.bg-white
    - fields = profile_fields
    - fields.each do |field|
      - hsh = {form_object: form_object, profile: profile, disabled: is_archived}
      - hsh[:field] = field unless field =~ /_level|range/
      - hsh[:association] = field if field =~ /_level|range/
      - hsh[:choices] = choices_boolean if field == :is_currently_employed
      - hsh[:choices] = choices_gender if field == :gender
      = render partial: '/admin/profiles/profile_field', locals: hsh
