%nav.fr-breadcrumb.fr-mt-0.fr-pt-0{"aria-label" => "vous êtes ici :"}
  %button.fr-breadcrumb__button{hidden: ""} Voir le fil d’Ariane
  %ol.fr-breadcrumb__list
    %li.fr-breadcrumb__item
      = link_to "Mes candidatures", [:account, :job_applications]
    %li.fr-breadcrumb__item.fr-breadcrumb__item--current{"aria-current" => "page"}
      = job_application.job_offer.title
