- attributes = %i[gender has_corporate_experience age_range availability_range experience_level study_level]
- attributes.each_with_index do |attribute, index|
  .d-flex{class: index == 0 ? nil : 'rf-mt-1w'}
    .d-flex.flex-column
      %strong
        = Profile.human_attribute_name(attribute)
      %span
        = profile_value_for_attribute(@job_application.profile, attribute)
