%p
  = link_to "Messages", [:account, @job_application, :emails]
%p
  %strong Poste
  = @job_offer.title
%p
  %strong Statut
  = JobApplication.human_attribute_name("state/#{@job_application.state}")
