- content_for :content do
  .container-fluid
    .row
      %main.col-12.ml-sm-auto{role: 'main'}
        %nav.navbar.navbar-dark.bg-secondary.mb-5
          %span.navbar-text#step_1= t('admin.accounts.show.title')
        .container
          .row
            .col-12.col-md-9.mx-md-auto
              = yield
= render template: 'layouts/admin'
