- content_for :content do
  %nav.navbar.navbar-dark.bg-secondary.mb-5
    %span.navbar-text= @page_title
  .container
    .row
      .col-12.col-md-10.mx-md-auto
        = yield
= render template: 'layouts/admin'
