- content_for :content do
  .container-fluid
    .row
      %aside.col-md-2.d-none.d-md-block.bg-white.sidebar
        .sidebar-sticky
          = render '/admin/stats/shared/navbar'
      %main.col-md-9.ml-sm-auto.col-lg-10.pt-5{role: 'main'}
        .container
          .row
            .col-12.mx-md-auto
              = yield
= render template: 'layouts/admin'
