<p>
  Bonjour <%= @user.full_name %>,
</p>

<p>
  Le désistement suite à votre candidature à l’offre "<%= @job_offer.title %>" a bien été pris en compte.
</p>

<p>
  Votre profil candidat reste disponible dans notre vivier de candidature : n’oubliez pas de le mettre à jour régulièrement.
</p>

<p>
  Cordialement,
</p>

<p>
  L'équipe <%= @service_name %>
</p>
