- base_link_klasses = %i[nav-link text-uppercase]
%ul.nav.nav-tabs.mr-auto{role: :tablist, id: dom_id(job_offer, 'nav')}
  %li.mr-3.nav-item
    - klasses = base_link_klasses.dup
    - klasses << :active if active_tab == 'show'
    = link_to t('.show'), [:admin, job_offer], class: klasses
  %li.mr-3.nav-item
    - klasses = base_link_klasses.dup
    - klasses << :active if active_tab == 'stats'
    = link_to t('.stats'), [:stats, :admin, job_offer], class: klasses
  %li.mr-3.nav-item
    - klasses = base_link_klasses.dup
    - klasses << :active if active_tab == 'board'
    = link_to t('.board'), [:board, :admin, job_offer], class: klasses
