= simple_form_for([:admin, @job_offer], defaults: { disabled: @job_offer.archived? ? true : nil }) do |f|
  - id = @administrator.object_id
  = f.simple_fields_for(:job_offer_actors, f.object.job_offer_actors.select(&:new_record?), child_index: id) do |builder|
    = render 'job_offer_actor', f: builder
