- @layout_full_width = true
- @page_title = t('.title', job_offer_identifier: @job_offer.identifier)
- draggable = can? :manage, @job_applications.values.flatten.first
.board#board{data: {draggable: draggable}}
  .lists
    - JobApplication.aasm.states.each do |state|
      - state_name = state.name.to_s
      - concerned_job_applications = @job_applications[state_name] || []
      = render partial: 'board_column', locals: { state_name: state_name, job_applications: concerned_job_applications}
.modal.fade#remoteContentModal{tabindex: -1, role: :dialog, aria: {labelledby: :remoteContentModal, hidden: true}}
  .modal-dialog.modal-lg{role: :document}
    .modal-content
      .modal-body.p-0