- content_for :card_inner do
  .card.mt-3
    .card-body
      = form_with url: [:transfer, :admin, @job_offer] do |f|
        .form-inputs
          .row
            .col-12.col-md-6
              .form-group.rf-input-group
                = f.label :transfer_email, "Email du nouveau propriétaire de l'offre", class: "form-control-label rf-label"
                = combobox_tag :transfer_email, admin_administrator_emails_path, placeholder: t('simple_form.placeholders.administrator.email')
          .form-actions.text-right.mt-4
            = f.submit t('.submit'), class: 'btn btn-primary btn-raised'
