- @page_title = t('.title', job_offer_identifier: @job_offer.identifier)
- content_for :card_inner do
  .card.mt-3.stats
    .card-body
      = render partial: 'stats_job_offer'
      = render partial: 'stats_job_applications'
      = render partial: 'stats_applicants'
= render partial: '/admin/job_offers/navbar_job_offer'

