.rf-footer__bottom
  %ul.rf-footer__bottom-list
    - pages.each do |page|
      %li.rf-footer__bottom-item
        - if page.slug == "declaration-d-accessibilite"
          = link_to "Accessibilité : non conforme", page_path(page), class: 'rf-footer__bottom-link'
        - else
          = link_to page.title, page_path(page), class: 'rf-footer__bottom-link'
  .rf-footer__bottom-copy
    = copyright
