- social_urls = {linkedin_url: "linkedin", twitter_url: "square-twitter", youtube_url: "square-youtube", instagram_url: "square-instagram", facebook_url: "square-facebook"}
- if social_urls.keys.any?{|x| current_organization.send(x).present? }
  .rf-footer__top
    .rf-container
      .rf-grid-row.rf-grid-row--start.rf-grid-row--gutters
        .rf-col-12
          .rf-footer__top-cat
            = footer_social_intro
          %ul.rf-footer__top-list
            %li
              .d-flex.flex-row
                - social_urls.each do |social_url, icon_name|
                  - if current_organization.send(social_url).present?
                    = link_to current_organization.send(social_url), class: 'rf-footer__top-link rf-mr-2w', target: '_blank' do
                      = fa_icon icon_name, flavor: 'brands', class: 'rf-icon rf-icon-xl'
