- social_urls = %i[linkedin_url twitter_url youtube_url instagram_url facebook_url]
- if social_urls.any?{|x| current_organization.send(x).present? }
  .rf-footer__top
    .rf-container
      .rf-grid-row.rf-grid-row--start.rf-grid-row--gutters
        .rf-col-12
          .rf-footer__top-cat
            = footer_social_intro
          %ul.rf-footer__top-list
            %li
              .d-flex.flex-row
                - social_urls.each do |social_url|
                  - if current_organization.send(social_url).present?
                    = link_to current_organization.send(social_url), class: 'rf-footer__top-link rf-mr-2w', target: '_blank' do
                      - icon_name = social_url.to_s.gsub('_url', '')
                      - icon_name += {'facebook' => '-circle', 'linkedin' => '-box'}[icon_name] || ''
                      - icon_name += '-fill'
                      = fa_icon icon_name, class: 'rf-icon-xl'
