- cache current_organization do
  %footer
    .container-fluid
      .row
        .col-12.col-md-2
          - if current_organization.logo_vertical_negative.present?
            = image_tag(current_organization.logo_vertical_negative.url, class: 'logo-business-owner')
        = render partial: '/shared/footer_pages_tree'
