.fr-footer__bottom
  %ul.fr-footer__bottom-list
    %li.fr-footer__bottom-item
      = link_to "Accessibilité : non", "#", class: 'fr-footer__bottom-link'
    - pages.each do |page|
      %li.fr-footer__bottom-item
        = link_to page.title, page_path(page), class: 'fr-footer__bottom-link'
  .fr-footer__bottom-copy
    = copyright
