.rf-container.d-none{data: {timeoutable_target: "alert" }}
  .rf-grid-row
    .rf-col-12.mx-md-auto
      .fixed-bottom.alert.alert-info
        Sans action de votre part dans les prochaines minutes, votre session expirera et vous serez déconnecté de la plateforme.
