.rf-container
  .rf-grid-row
    .rf-col-12
      = render template: '/account/users/change_password'
    .rf-col-12
      = render template: '/account/users/change_email'
    .rf-col-12
      = render template: '/account/users/want_destroy'
