.card
  .card-header.bg-danger
    .card-title.text-white= t('.title')
  .card-body
    %p
      La suppression de votre compte est <span class='font-weight-bold'>irréversible</span> : toutes vos candidatures et données personnelles seront supprimées.
    = simple_form_for(@user_for_deletion, url: [:account, :user], method: :delete) do |f|
      = f.input :current_password, placeholder: false, label: "Pour supprimer votre compte, veuillez entrer votre mot de passe :"
      = f.submit t('.destroy'), class: "btn btn-danger btn-raised btn-block"
