- ary = params.dig(:q, :contract_type_id_in)  || []
.dropdown.dropdown-checks.form-group
  %button.form-control.dropdown-toggle.text-left.d-flex.align-items-center#dropdownContractType{type: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false}}
    Contrat
    - if ary.any?
      = "(#{ary.size})"
  .dropdown-menu.dropdown-menu-right{aria: {labelledby: 'dropdownContractType'}}
    %ul
      - for contract_type in ContractType.all
        - input_id = dom_id(contract_type)
        %li
          .form-check.form-check-inline.w-100
            - checked = ary.include?(contract_type.id)
            = check_box_tag 'q[contract_type_id_in][]', contract_type.id, checked, class: 'form-check-input', id: input_id
            %label.form-check-label.text-truncate.d-block{for: input_id}= contract_type.name
