- archived = defined?(@job_application) ? @job_application.job_offer.archived? : nil
- personal_profile = archived ? @job_application.personal_profile : (user.personal_profile || user.build_personal_profile)
%div{id: dom_id(user, 'profile')}
  - if archived
    %em Profile archivé
  .card
    .card-header.bg-white.font-weight-bold.text-secondary
      = fa_icon('file-document', class: 'text-secondary')
      Données personnelles
    .card-body.bg-white
      - fields = personal_profile_fields1
      - fields.each do |field|
        - hsh = {user: user, personal_profile: personal_profile, field: field, disabled: archived}
        - hsh[:choices] = choices_gender if field == :gender
        = render partial: '/admin/personal_profiles/personal_profile_field', locals: hsh
  .card
    .card-header.bg-white.font-weight-bold.text-secondary
      = fa_icon('file-document', class: 'text-secondary')
      Données professionnelles
    .card-body.bg-white
      - fields = personal_profile_fields2
      - fields.each do |field|
        - hsh = {user: user, personal_profile: personal_profile, disabled: archived}
        - hsh[:field] = field unless field =~ /_level/
        - hsh[:association] = field if field =~ /_level/
        - hsh[:choices] = choices_boolean if field == :is_currently_employed
        - hsh[:choices] = choices_month if field == :availability_date_in_month
        = render partial: '/admin/personal_profiles/personal_profile_field', locals: hsh
