-# frozen_string_literal: true
- ary = %i(resume cover_letter)
- ary.each do |file_name|
  = render partial: '/account/files/file_name_upload', locals: {obj: job_application, file_name: file_name}
- user = current_user
- ary = User::FILES.dup
- ary.shift(3)
- ary.each do |file_name|
  = render partial: '/account/files/file_name_upload', locals: {obj: user, file_name: file_name}
