.container
  .row
    .col-12.col-md-6.mt-4.mt-md-0
      = render partial: 'form_general'
    .col-12.col-md-6.mt-4.mt-md-0
      = render partial: 'form_security'
    .col-12.mt-4
      = render partial: 'form_display'
