- job_offers = @job_offers.select{|x| x.category_id == category.id }
- if job_offers.any?
  .card.mt-4
    .card-body
      .row
        .col-12
          %h2.h4.text-quinary= category.name
        .col-12
          = render partial: 'job_offer', collection: job_offers
