- job_offers = category.job_offers.publicly_visible
.row
  .col-12.col-md-2
    %h2.h6.text-dark-gray= category.name
  .col-12.col-md-10
    = render partial: 'job_offer', collection: job_offers, spacer_template: 'job_offer_divider'
