- inside_card ||= false
- title_uncentered ||= false
- cache [job_offer, inside_card] do
  - klasses = inside_card ? %w(h5 rf-card__title rf-my-0) : %w(mt-3 h4)
  - klasses << 'text-center' unless title_uncentered
  %h1{class: klasses}= job_offer.title
  .rf-mt-4w
    - attributes = %i[contract_type contract_start_on location study_level category experience_level salary]
    - attributes.each do |attribute|
      .d-flex.rf-mb-1w
        = fa_icon job_offer_icon_for_attribute(attribute)
        .d-flex.flex-column.rf-ml-1w
          %strong
            = JobOffer.human_attribute_name(attribute)
          %span
            = job_offer_value_for_attribute(job_offer, attribute)
