- cache job_offer do
  - fields = %i(description required_profile recruitment_process)
  - fields.each_with_index do |field, index|
    %h2.rf-rf-mt-0= t('.'+field.to_s)
    = sanitize(job_offer.send(field))
