.job-offer-content
  - cache job_offer do
    - fields = %i(organization_description description required_profile recruitment_process)
    - fields.each_with_index do |field, index|
      %h2.rf-h3.rf-mt-0= t('.'+field.to_s)
      = sanitize(job_offer.send(field))
  - if show_apply_button?(@job_offer)
    .rf-grid-row.rf-grid-row--center.rf-mt-4w
      = link_to t('.apply'), new_job_offer_job_application_path(@job_offer), class: 'rf-btn rf-btn--lg', rel: 'noindex nofollow'
