- display_apply_button = @job_offer.published?
- cache job_offer do
  - fields = %i(description required_profile recruitment_process)
  - fields.each_with_index do |field, index|
    %h2.rf-mt-0= t('.'+field.to_s)
    = sanitize(job_offer.send(field))
- if display_apply_button && !(controller.action_name == 'apply')
  .rf-grid-row.rf-grid-row--center.rf-mt-4w
    = link_to t('.apply'), [:apply, @job_offer], class: 'rf-btn rf-btn--lg', rel: 'noindex nofollow'
