- fields = %i(description required_profile recruitment_process)
- fields.each_with_index do |field, index|
  - klasses = index == 0 ? %w() : %w(mt-4)
  .card{class: klasses}
    .card-body
      %h2.h5.mt-2.mb-3.text-quinary= t('.'+field.to_s)
      != job_offer.send(field)
