- attributes = %i[contract_type contract_start_on application_deadline location study_level category experience_level salary is_remote_possible benefits drawbacks]
- attributes.each_with_index do |attribute, index|
  .d-flex.align-items-center.mb-2{class: index == 0 ? nil : 'rf-mt-1w'}
    = fa_icon job_offer_icon_for_attribute(attribute), class: 'mr-3'
    .d-flex.flex-column.rf-ml-1w
      %strong
        = JobOffer.human_attribute_name(attribute)
      %span
        = job_offer_value_for_attribute(job_offer, attribute)
