- attributes = %i[contract_type contract_start_on location study_level category experience_level salary benefits]
- attributes.each_with_index do |attribute, index|
  .d-flex{class: index == 0 ? nil : 'rf-mt-1w'}
    = fa_icon job_offer_icon_for_attribute(attribute)
    .d-flex.flex-column.rf-ml-1w
      %strong
        = JobOffer.human_attribute_name(attribute)
      %span
        = job_offer_value_for_attribute(job_offer, attribute)
