- @page_title = @page&.title || t('.title')
.fr-container.fr-pb-6w.fr-pt-5w
  .fr-grid-row.fr-grid-row--gutters.job-offer-index
    .fr-col-12.fr-col-md-4
      = render partial: 'filters'
    %turbo-frame#job-offers.fr-col-12.fr-col-md-8
      = t('.job_offers_count', count: @job_offers.total_entries)
      = render partial: 'job_offer', collection: @job_offers
      = will_paginate @job_offers, class: 'justify-content-center fr-mt-3w', renderer: RfRenderer
