.alert {
  // @extend .fr-py-2x, .fr-px-3w; why doesn't this work?
  padding: 1rem 1.5rem;
  color: var(--g100);
  h2 {
    color: inherit;
  }
  &.alert-danger {
    background-color: var(--error);
  }
  &.alert-info {
    background-color: var(--info);
  }
  &.alert-success {
    background-color: var(--success);
  }
}
