.card {
  @include box-shadow($bmd-shadow-2dp);
  .card-subheader {
    padding: $card-spacer-y $card-spacer-x;
    background-color: white;
    border-bottom: 1px solid $card-border-color;
    .card-title {
      @extend .mb-0;
      font-size: $font-size-base * 1.1;
      font-weight: $headings-font-weight;
    }
  }
  .card-title {
    color: $secondary;
    font-weight: $headings-font-weight;
    font-size: $font-size-base * 1.1;
    a {
      color: $secondary;
    }
  }
  .card-header {
    &:not(.with-subheader) {
      border-bottom: $border-width-normal solid $card-border-color;
    }
    .card-title {
      @extend .mb-0;
      font-size: $font-size-base * 1.1;
      font-weight: $headings-font-weight;
    }
  }
  .card-footer {
    @extend small;
    border-top: $border-width-normal solid $card-border-color;
  }
}

.card-body {
  padding: 1rem;
}


@include media-breakpoint-up(md) {
  .card-body {
    padding: $card-spacer-x;
  }
}

$card-spacer-x-normal: 1rem;

.card, .modal, .lists {
  .card {
    background-color: white;
    .card-footer {
      background-color: white;
    }
  }
}

.card, .modal, form, .lists {
  .card {
    .card-header, .card-subheader, .card-footer {
      padding: ($card-spacer-x-normal * 0.5) $card-spacer-x-normal;
    }
    .card-body {
      padding: $card-spacer-x-normal $card-spacer-x-normal;
    }
  }
}

.card {
  &.card-state-draft,
  &.card-state-draft .card-footer,
  &.card-state-archived,
  &.card-state-archived .card-footer {
    background-color: rgba($card-border-color, 0.1);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255,255,255,.9) 15px, rgba(255,255,255,.9) 30px);
  }
  &.job-application--state-rejected {
    opacity: 0.6;
  }
  &.job-application {
    .card-header {
      color: $body-color-variation;
      border-bottom: 0;
      padding: ($card-spacer-x-normal * 0.25) ($card-spacer-x-normal * 0.75);
    }
    .card-body {
      padding: $card-spacer-x-normal * 0.75;
      background-color: white;
      strong {
        color: rgba(0, 0, 0, 0.87);
        font-weight: $font-weight-bold;
      }
      a {
        outline: 0;
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
    .card-footer {
      font-size: 60%;
      @extend .text-muted;
      padding: ($card-spacer-x-normal * 0.25) ($card-spacer-x-normal * 0.75);
    }
  }
  &.job-offer {
    .dropdown-menu {
      .dropdown-item {
        @extend small;
      }
    }
  }
}
