$primary: #0084f8;
$secondary: #003a9b;
$tertiary: #344374;
$quaternary: #003285;
$quinary: #2d3b66;
$dark-gray: #585858;
$light-gray: #c4c4c4;
$disabled-gray: #fbfbfb;
$text-muted: $light-gray;
$success: #00d893;
$cyan: #6cbeff;
$danger: #f60e0e;
$purple: #a462ff;
$body-color: #818181;
$body-color-variation: #848484;
$body-bg: #e6e6e6;
$font-family-sans-serif: Roboto, sans-serif;
$enable-rounded: false !default;
$enable-shadows: true !default;
$btn-box-shadow: none;
$btn-active-box-shadow: none;
$card-bg: #f5f5f5;
$card-cap-bg: $card-bg;
$card-border-width: 0;
$card-border-color: #e0e0e0;
$card-spacer-x: 2rem;
$table-border-width: 1px;
$border-width: 0;
$border-width-normal: 1px;
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;
$headings-color: $secondary !default;
$hr-border-color: #eee !default;
$hr-border-width: 1px !default;
$modal-lg: 1100px !default;
$navbar-light-active-color: $primary;

$theme-colors: (
  "tertiary": $tertiary,
  "quaternary": $quaternary,
  "quinary": $quinary,
  "dark-gray": $dark-gray,
  "light-gray": $light-gray,
  "purple": $purple,
  "body-color": $body-color,
  "card-bg": $card-bg,
);

// variables borrowed from bootstrap-material-design
$bmd-animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$bmd-animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$bmd-animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$bmd-animation-curve-default: $bmd-animation-curve-fast-out-slow-in !default;

$custom-file-text: (
  en: "Browse",
  fr: "Parcourir"
);

@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-material-design/scss/variables';
@import '~bootstrap-material-design/scss/variables/shadow';
@import '~bootstrap-material-design/scss/variables/bootstrap/buttons';
@import '~bootstrap-material-design/scss/mixins/utilities';
@import '~bootstrap-material-design/scss/mixins/forms';
@import '~bootstrap-material-design/scss/mixins/hover';
@import '~bootstrap-material-design/scss/mixins/buttons';
@import '~bootstrap-material-design/scss/buttons';
@import 'navbar';
@import 'offcanvas';
@import 'fontawesome';

svg {
  fill: currentColor !important;
  &.fa-linkedin {
    color: #0077b5;
  }
}

.border         { border: $border-width-normal solid $border-color !important; }
.border-top     { border-top: $border-width-normal solid $border-color !important; }
.border-right   { border-right: $border-width-normal solid $border-color !important; }
.border-bottom  { border-bottom: $border-width-normal solid $border-color !important; }
.border-left    { border-left: $border-width-normal solid $border-color !important; }

.border-0        { border: 0 !important; }
.border-top-0    { border-top: 0 !important; }
.border-right-0  { border-right: 0 !important; }
.border-bottom-0 { border-bottom: 0 !important; }
.border-left-0   { border-left: 0 !important; }

@each $color, $value in $theme-colors {
  .border-#{$color} {
    border-color: $value !important;
  }
}

svg {
  fill: $body-color;
}

[role="main"] {
  @extend .px-0;
  nav.navbar {
    @supports (position: sticky) {
      z-index: 3;
      position: sticky;
      top: 50px;
    }
  }
  .card {
    @supports (position: sticky) {
      z-index: 2;
    }
  }
}

.alert {
  @extend .mb-0;
}

aside.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.sidebar-sticky {
  @extend .position-sticky;
  top: 50px;
  height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: auto;
}

.btn {
  font-weight: $font-weight-bold;
  &.btn-raised {
    svg {
      fill: white;
    }
  }
}

.card {
  @include box-shadow($bmd-shadow-2dp);
  .card-subheader {
    padding: $card-spacer-y $card-spacer-x;
    background-color: white;
    border-bottom: 1px solid $card-border-color;
    .card-title {
      @extend .mb-0;
      font-size: $font-size-base * 1.1;
      font-weight: $headings-font-weight;
    }
  }
  .card-title {
    color: $secondary;
    font-weight: $headings-font-weight;
    font-size: $font-size-base * 1.1;
    a {
      color: $secondary;
    }
  }
  .card-header {
    &:not(.with-subheader) {
      border-bottom: $border-width-normal solid $card-border-color;
    }
    .card-title {
      @extend .mb-0;
      font-size: $font-size-base * 1.1;
      font-weight: $headings-font-weight;
    }
  }
  .card-footer {
    @extend small;
    border-top: $border-width-normal solid $card-border-color;
  }
}

.form-control, .custom-select, .custom-select.is-valid, .form-control.is-valid {
  outline: none !important;
  border: solid 0px white;
  border-bottom: solid 1px white;
  @include box-shadow($bmd-shadow-2dp);
  &:focus {
    outline: none !important;
    border: solid 0px white;
    border-bottom: solid 1px $primary;
    @include box-shadow($bmd-shadow-3dp);
  }
}
.custom-file-input:lang(fr) ~ .custom-file-label::after {
  margin:2px;
}
.custom-file-input.is-valid ~ .custom-file-label{
  outline: none !important;
  border: solid 0px white;
  border-bottom: solid 1px white;
  @include box-shadow($bmd-shadow-2dp);
}
.custom-file-input.is-valid:focus ~ .custom-file-label{
    outline: none !important;
    border: solid 0px white;
    border-bottom: solid 1px $primary;
    @include box-shadow($bmd-shadow-3dp);
}

.input-search.is-focused {
  outline: none !important;
  border-bottom: solid 1px $primary !important;
}

.input-search.is-focused > input{
  outline: none !important;
}

.form-control.is-invalid, .custom-select.is-invalid {
  outline: none !important;
  border: solid 0px white;
  border-bottom: solid 1px $danger;
  @include box-shadow($bmd-shadow-2dp);
  &:focus {
    outline: none !important;
    border: solid 0px white;
    border-bottom: solid 1px $danger;
    @include box-shadow($bmd-shadow-3dp);
  }
}

.custom-file-input.is-invalid ~ .custom-file-label{
  outline: none !important;
  border: solid 0px white;
  border-bottom: solid 1px $danger;
  @include box-shadow($bmd-shadow-2dp);
}

.custom-file-input.is-invalid:focus ~ .custom-file-label{
  outline: none !important;
  border: solid 0px white;
  border-bottom: solid 1px $danger;
  @include box-shadow($bmd-shadow-3dp);
}

.form-control:disabled, .form-control[readonly], .custom-select:disabled {
    border-bottom: solid 1px $disabled-gray;
    background-color: $disabled-gray;
}

.input-search {
  @include box-shadow($bmd-shadow-2dp);
  .input-group-text {
    padding-top: ($spacer * .75);
    padding-bottom: ($spacer * .75);
  }
  input {
    border-color: transparent;
  }
  svg {
    height: auto;
  }
  .input-group-prepend {
    width: 2.5rem;
  }
  input {
    width: calc(100% - 2.5rem);
  }
}


.custom-file-label {
  line-height: 1.25;
  &::after {
    height: calc(2.25rem - 4px);
    line-height: 1.25;
  }
}

label, legend {
  font-weight: 500;
}

.invalid-feedback {
  &:first-letter {
    text-transform: capitalize;
  }
}

.form-inputs {
  &:not(.options) {
    .form-group {
      &.radio_buttons {
        .form-check {
          label {
            @extend .mt-2;
          }
        }
      }
    }
  }
}

.form-group {
  &.radio_buttons {
    .form-check {
      @extend .mr-0, .ml-5;
      &:first-of-type {
        @extend .ml-3;
      }
      input {
        display: none;
        &:checked + label {
          color: $primary;
          font-weight: 500;
          box-shadow: inset 0 -2px $primary;
        }
      }
      label {
        @extend .mb-0;
      }
    }
    > .form-check:first-child {
      @extend .ml-2;
    }
  }
}

.w-32 {
  width: 32px;
}

.h-32 {
  height: 32px;
}

.w-40 {
  width: 40px;
}

.h-40 {
  height: 40px;
}

.w-80 {
  width: 80px;
}

.h-80 {
  height: 80px;
}

.card-body {
  padding: 1rem;
}

@include media-breakpoint-up(md) {
  .card-body {
    padding: $card-spacer-x;
  }
}
