.devise {
  .sidebar {
    height: 100vh;
  }
  .logos {
    @extend .d-flex, .justify-content-start;
    .minarm {
      height: 80px;
    }
    .logo {
      margin-left: 20px;
      height: 60px;
    }
  }
  .form-inputs {
    > .form-group {
      @extend .mb-3;
    }
  }
  .form-actions {
    @extend .d-flex, .justify-content-start, .align-items-start;
    > *:last-child {
      @extend .ml-auto;
    }
    .btn-link {
      color: inherit;
    }
  }
  .form-control {
    border: 2px solid $card-border-color;
    box-shadow: none;
    &:focus {
      border: 2px solid $card-border-color;
      box-shadow: none;
    }
  }
  .input-group-prepend {
    .input-group-text {
      background-color: white;
      border: 2px solid $card-border-color;
      border-right: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .devise {
    .logos {
      .minarm {
        height: 120px;
      }
      .logo {
        margin-left: 20px;
        height: 80px;
      }
    }
  }
}
