footer {
  @extend .px-5, .py-5, .bg-quaternary;
  color: white;
  .minarm {
    height: 150px;
  }
  ul {
    li {
      a {
        color: white;
        @extend .font-weight-bold;
        &:hover, &:focus {
          color: white;
        }
      }
    }
  }
  ul > li {
    @extend .mt-2;
    > ul {
      @extend .mt-2;
      > li {
        @extend .mt-0;
        @extend small;
        > a {
          @extend small;
        }
      }
    }
  }
  > [class^="container"] > .row > [class^="col"] {
    > ul {
      @extend .pl-4;
      border-left: 0.5px solid white;
    }
  }
}
