.france-connect-link {
  background-color: transparent;
  padding: 0;
  border: 0;  
  .hover {
    display: none;
  }
  &:hover {
    .normal {
      display: none;
    }
    .hover {
      display: block;
    }
  }
}
