nav.navbar {
  @extend .py-0;
  height: 50px;
  .navbar-brand {
    img {
      height: 32px;
      width: auto;
    }
  }
}

body > .navbar.bg-white {
  @include box-shadow($bmd-shadow-2dp);
  .nav-item {
    @extend .d-flex;
    &:hover {
      color: $navbar-light-hover-color;
    }
    &.show {
      .nav-link {
        &.dropdown-toggle {
          color: inherit;
        }
      }
    }
    svg {
      margin-top: ($spacer * .85);
      margin-right: ($spacer * .50);
      transition: fill 0.2s $bmd-animation-curve-default;
      will-change: fill, transform;
    }
    .nav-link {
      transition: color 0.2s $bmd-animation-curve-default;
      transition: box-shadow 0.2s $bmd-animation-curve-default;
      will-change: color, box-shadow, transform;
      @extend .py-0;
      font-weight: 500;
      outline: 0;
      &:not(.dropdown-toggle) {
        @extend .px-0, .my-2;
      }
      &.dropdown-toggle {
        height: 50px;
        &:focus {
          box-shadow: none;
        }
        .ripple-container {
          display: inline-block;
        }
      }
    }
    &.active {
      color: $primary;
      .nav-link {
        box-shadow: inset 0 -2px $primary;
      }
      &.sober {
        .nav-link {
          box-shadow: inset 0 -2px $dark-gray;
        }
      }
    }
  }
}

nav.navbar {
  & + aside + .bg-secondary, & + .bg-secondary {
    height: 50px;
    background-color: $secondary;
    @extend .py-0;
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
      svg {
        fill: white;
      }
    }
    .navbar-text {
      line-height: 50px;
      @extend .py-0;
    }
    .nav-item {
      .nav-link {
        color: rgba(255, 255, 255, 0.6);
        text-transform: uppercase;
        font-weight: 500;
        transition: color 0.2s $bmd-animation-curve-default;
        will-change: color, transform;
        line-height: 50px;
        @extend .px-4, .py-0;
      }
      &:active, &.active, &:hover {
        .nav-link {
          color: white;
        }
      }
      &.active {
        box-shadow: inset 0 -2px white;
      }
    }
    & + .bg-quaternary {
      height: 85px;
      background-color: $quaternary;
    }
  }
}

.nav.nav-tabs {
  .nav-item {
    .nav-link {
      transition: color 0.2s $bmd-animation-curve-default;
      transition: box-shadow 0.2s $bmd-animation-curve-default;
      will-change: color, box-shadow, transform;
      @extend .px-0, .py-0;
      font-weight: 500;
      color: $body-color;
      outline: 0;
      &:hover {
        color: $navbar-light-hover-color;
      }
      &.active {
        color: $primary;
        box-shadow: inset 0 -2px $primary;
        background-color: transparent;
      }
    }
  }
}

.navbar {
  .navbar-text {
    color: white;
    font-weight: 500;
    font-size: 16px;
  }
}

.navbar-light .navbar-toggler-icon {
  background: none;
}
