nav.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
  .navbar-brand {
    img {
      height: 32px;
      width: auto;
    }
  }
}

body > .navbar.bg-white {
  .nav-item {
    @extend .d-flex;
    svg {
      margin-top: ($spacer * .85);
      margin-right: ($spacer * .50);
      color: $body-color;
      transition: fill 0.2s $bmd-animation-curve-default;
      will-change: fill, transform;
    }
    .nav-link {
      transition: color 0.2s $bmd-animation-curve-default;
      will-change: color, transform;
      @extend .px-0, .py-0, .my-2;
      font-weight: 500;
    }
    &.active {
      svg {
        fill: $primary;
      }
      .nav-link {
        color: $primary;
        box-shadow: inset 0 -2px $primary;
      }
    }
  }
}

.navbar {
  .navbar-text {
    color: white;
    font-weight: 500;
    font-size: 16px;
  }
}

.navbar-light .navbar-toggler-icon {
  background: none;
}
