.password-visibility-toggle {
  float: right;
  margin-right: 10px;
  margin-top: -58px;
  position: relative;
  z-index: 2;
  color: var(--g500);
}

.rules {
  margin-top: -1.5rem;
  padding-bottom: 1.5rem;

  .valid-rule {
    color: var(--success);
    display: block;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .invalid-rule {
    color: var(--error);
    display: block;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
