$card-spacer-x: 2rem;
$card-spacer-x-normal: 1.25rem;

.card {
  .card {
    .card-body, .card-footer {
      padding: ($card-spacer-x-normal / 2) $card-spacer-x-normal;
    }
  }
}

@import 'common';

body {
  @extend .pb-5;
  margin-top: 50px;
}

.card {
  .card-footer {
    .actions {
      > li {
        @extend .mr-3;
        &:last-child {
          @extend .mr-0;
        }
      }
      a {
        @extend .font-weight-bold;
        color: $body-color;
        svg {
          fill: $body-color;
          @extend .mr-1;
        }
        &:hover, &:focus, &.active {
          text-decoration: none;
          color: $primary;
          svg {
            fill: $primary;
          }
        }
      }
    }
  }
}
