@import 'common';
@import 'devise';
@import 'board';

th {
  font-weight: $font-weight-bold;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, .02);
}

.card {
  > table {
    thead th {
      border-bottom-width: 1px;
    }
    > tbody, > thead {
      > tr {
        &:first-child {
          > th, > td {
            border-top: 0;
          }
        }
        > th, > td {
          &:first-child {
            padding-left: $card-spacer-x;
          }
        }
      }
    }
  }
}

body {
  @extend .pb-5;
  margin-top: 50px;
}

.list-group {
  &.stepper {
    .list-group-item {
      @extend .px-3;
      border-left: 4px solid transparent;
      color: #393939;
      transition: color 0.2s $bmd-animation-curve-default;
      will-change: color, transform;
      outline: 0;
      color: black;
      font-weight: 500;
      &.disabled {
        color: #cdcdcd;
      }
      &.active {
        background-color: $card-bg;
        border-left-color: $primary;
        .badge {
          &.badge-pill {
            color: $primary;
            border-color: $primary;
          }
        }
      }
      &.menu {
        color: $body-color;
        text-transform: uppercase;
        padding-bottom: 0;
      }
      .badge {
        &.badge-pill {
          @extend .badge, .rounded-circle, .px-0, .py-0, .font-weight-normal;
          width: 1.2rem;
          height: 1.2rem;
          line-height: 1.1rem;
          border: 1px solid #cdcdcd;
        }
      }
    }
  }
}

$job-application-gutter: 3px;
.job-applications-list {
  @extend .d-flex, .flex-wrap;
  margin-right: $job-application-gutter;
  margin-left: $job-application-gutter;
  .job-application {
    @extend .mt-3;
    background-color: white;
    margin-right: $job-application-gutter * 2;
    margin-left: $job-application-gutter * 2;
    @include media-breakpoint-up(sm) {
      flex: 0 0 calc(100%);
    }
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(100%/4 - #{$job-application-gutter * 4});
    }
    @include media-breakpoint-up(xl) {
      flex: 0 0 calc(100%/5 - #{$job-application-gutter * 4});
    }
  }
}

.bg-card-bg {
  background-color: $card-bg;
}

.bg-body-bg {
  background-color: $body-bg;
}

.badge-counter {
  @extend .badge, .rounded-circle, .px-0, .py-0, .font-weight-bold;
  font-size: 100%;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  &:hover {
    text-decoration: none;
  }
}

.ck.ck-content {
  min-height: 300px;
  max-height: 500px;
}

#message_body {
  height: 110px;
}

#email_body {
  height: 200px;
}

.tab-pane {
  > .card, > * > .card {
    @extend .mt-4;
    &:first-child {
      @extend .mt-0;
    }
  }
}

.activity {
  textarea {
    @extend small;
  }
  textarea, .card-body {
    @extend .px-2, .py-2;
  }
}

.activities {
  color: #4e6e7c;
  @extend small;
  @extend .mt-3;
  > li {
    @extend .mb-3;
    &:last-child {
      @extend .mb-0;
    }
    .photo {
      @extend .mr-3;
      margin-top: 0.15rem;
    }
    .user-name {
      font-weight: $font-weight-bold;
    }
    .card {
      color: #787878;
    }
  }
}

.files-list {
  > .file {
    @extend .mb-2;
    &:last-child {
      @extend .mb-0;
    }
  }
}

.pushed-top {
  margin-top: -3rem;
}

.new_job_offer, .edit_job_offer {
  .job_offer_option_photo, .job_offer_option_website_url {
    .form-check.form-check-inline {
      &:first-of-type {
        @extend .invisible;
      }
    }
  }
}

a.badge:not(.badge-danger) {
  color: inherit;
}

.estimate_monthly_salary_net_reference, .estimate_annual_salary_gross_reference {
  @extend .font-italic;
}

.in-place-edit {
  @extend .form-control;
  background-color: inherit;
  box-shadow: inherit;
  border-color: transparent;
}

.opacify {
  opacity: 0.4;
}

.table-like {
  display: table;
  width: 100%;
  table-layout: fixed;
  .tr {
    display: table-row;
  }
  .td, .th {
    display: table-cell;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid rgba(0, 0, 0, .06);
    select, input {
      width: 100%;
    }
  }
}

.edit_job_application_file {
  input[type="file"] {
    display: none;
  }
}
