@import 'common';
$card-spacer-x-normal: 1rem;

.card {
  .card {
    .card-body, .card-footer, .card-header {
      padding: $card-spacer-x-normal;
    }
  }
  > table {
    > tbody {
      > tr {
        > th, > td {
          &:first-child {
            padding-left: $card-spacer-x;
          }
          &:last-child {
            padding-right: $card-spacer-x;
          }
        }
      }
    }
  }
}

body {
  @extend .pb-5;
  margin-top: 50px;
}

.card {
  .card-footer {
    .actions {
      > li {
        @extend .mr-3;
        &:last-child {
          @extend .mr-0;
        }
      }
      a {
        @extend .font-weight-bold;
        color: $body-color;
        svg {
          fill: $body-color;
          @extend .mr-1;
        }
        &:hover, &:focus, &.active {
          text-decoration: none;
          color: $primary;
          svg {
            fill: $primary;
          }
        }
      }
    }
  }
}

.devise {
  .sidebar {
    height: 100vh;
  }
  .logos {
    @extend .d-flex, .justify-content-start;
    .minarm {
      height: 120px;
    }
    .logo {
      margin-left: 20px;
      height: 80px;
    }
  }
  .form-inputs {
    > .form-group:first-child {
      @extend .mb-0;
    }
  }
  .form-actions {
    @extend .d-flex, .justify-content-start, .align-items-start;
    > *:last-child {
      @extend .ml-auto;
    }
    .btn-link {
      color: inherit;
    }
  }
  .form-control {
    border: 2px solid $card-border-color;
    box-shadow: none;
    &:focus {
      border: 2px solid $card-border-color;
      box-shadow: none;
    }
  }
}

.list-group {
  &.stepper {
    .list-group-item {
      color: #cdcdcd;
      font-size: 80%;
      &.active {
        color: black;
        font-weight: 500;
        background-color: $card-bg;
        border-left: 4px solid $primary;
        .badge {
          &.badge-pill {
            color: $primary;
            border-color: $primary;
          }
        }
      }
      .badge {
        &.badge-pill {
          border-radius: 50%;
          line-height: 1.2rem;
          height: 1.2rem;
          padding: 0 0.4rem;
          border: 1px solid #cdcdcd;
        }
      }
    }
  }
}
