@import "@gouvfr/dsfr/dist/css/dsfr.min.css";
@import "flex-utilities";
@import "stepper";
@import "alert";
@import "france-connect";

// input {
//   &.fr-btn {
//     border: 0;
//   }
// }

.fr-bg-beige {
  background-color: var(--beige);
}

.fr-b--g100 {
  border-color: var(--g100);
}

.fr-bg--hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h-auto {
  height: auto !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.fr-icon {
  height: 1rem;
  width: auto;
  display: inline-block;
  font-size: inherit;
  line-height: 1;
  overflow: visible;
  fill: currentColor;
  top: 0.375em;
  position: relative;
  &.fr-icon-xl {
    height: 1.5rem;
  }
}

.fr-top-3w {
  top: 1.5rem;
}

.invisible {
  visibility: hidden;
}

label {
  a {
    display: inline;
  }
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    5px 4px 6px -2px rgba(0, 0, 0, 0.05), -5px -4px 6px -2px rgba(0, 0, 0, 0.05);
}

.fr-card {
  &.rounded-lg {
    overflow: hidden;
  }
  a {
    box-shadow: 0 0 0 0 currentColor;
  }
}

.rounded-lg {
  border-radius: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.w-100 {
  width: 100%;
}

.avatar {
  height: 1.5rem;
  width: auto;
}

h1,
h2 {
  small {
    color: var(--g600);
  }
}

.fr-box {
  box-shadow: 0 1px 0 0 currentColor;
}

.message {
  p {
    margin-bottom: 0;
  }
}

.bg-danger {
  background-color: var(--error);
}

.text-white {
  color: var(--w-g750);
}

.fr-grid-row {
  &:not(.fr-card-deck) {
    .fr-card {
      height: unset;
    }
  }
  &.fr-card-deck {
    .fr-card {
      height: 100%;
    }
  }
}

.form-inline {
  display: flex;
  flex-direction: row;
  > * {
    flex-grow: 1;
    flex-basis: 0;
  }
  .fr-input-group {
    margin-bottom: 0;
  }
}

.fr-bg--alt-2 {
  background-color: var(--bg-alt-2);
  color: var(--g700);
}

:root:not([data-theme="dark"]) {
  .fr-bg--alt-2 {
    --bg-alt-2: #0682ff;
    --g700: white;
    --bf500: white;
    --w-bf500: var(--bf500-plain);
    .fr-btn {
      --color-hover: rgba(0, 0, 0, 0.05);
      --color-active: rgba(91, 91, 255, 0.5);
    }
  }
  .fr-bg--hero-image {
    --bg-image: rgba(0, 0, 145, 0.4);
  }
}

:root {
  .fr-bg--alt-2 {
    --bg-alt-2: rgb(0, 68, 148);
    --g800: white;
    --bf500: white;
    --w-bf500: #0682ff;
    .fr-btn {
      --color-hover: rgba(0, 0, 0, 0.05);
      --color-active: rgba(91, 91, 255, 0.5);
    }
  }
  .fr-bg--hero-image {
    --bg-image: rgba(33, 33, 33, 0.5);
  }
}

.fr-hero {
  h1 {
    padding: 2rem 0;
  }
}

@media (min-width: 768px) {
  .fr-hero {
    height: 22rem;
  }

  .job-offer-grid {
    > *:nth-child(2n) {
      padding-left: 2.5rem;
    }
    > *:nth-child(2n + 1) {
      padding-right: 2.5rem;
    }
  }
}

.text-justify {
  text-align: justify;
}

.job-offer-index {
  input[type="submit"] {
    position: sticky;
  }

  .fr-accordion .fr-collapse--expanded {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .side {
    width: initial;
    padding: 0;
  }
  .fr-sidemenu__list {
    .fr-sidemenu__list {
      margin: 0 0.5rem;
      .fr-sidemenu__list .fr-label {
        font-size: 0.95rem;
        padding: 0.5rem 0;
      }
    }
  }
}
