@import "@gouvfr/all/dist/css/all.css";
@import "flex-utilities";
@import "stepper";
@import "alert";
@import "france-connect";

// Design System overflow fix
@media (min-width: 48em) {
  .rf-header .rf-nav {
    margin: 0 calc(50% - 49vw) !important;
  }
}

input {
  &.rf-btn {
    border: 0;
  }
}

.rf-border-0 {
  border: 0;
}

[data-rf-reset] h1 {
  font-weight: 300;
}

.rf-bg--alt {
  h1 {
    color: var(--g100);
  }
}

.rf-b--g100 {
  border-color: var(--g100);
}

.block--overlap {
  margin-top: 3rem;
}

.block--underlap {
  padding-top: 80px;
  margin-top: -80px;
}

.rf-bg--hero-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.h-auto {
  height: auto !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.rf-icon {
  height: 1rem;
  width: auto;
  display: inline-block;
  font-size: inherit;
  line-height: 1;
  overflow: visible;
  fill: currentColor;
  top: 0.375em;
  position: relative;
  &.rf-icon-xl {
    height: 1.5rem;
  }
}

.rf-top-3w {
  top: 1.5rem;
}

.invisible {
  visibility: hidden;
}

label {
  a {
    display: inline;
  }
}

.rf-card {
  &.rounded-lg {
    overflow: hidden;
  }
  a {
    box-shadow: 0 0 0 0 currentColor;
  }
}

.rounded-lg {
  border-radius: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.w-100 {
  width: 100%;
}

.avatar {
  height: 1.5rem;
  width: auto;
}

h1,
h2 {
  small {
    color: var(--g600);
  }
}

.rf-box {
  box-shadow: 0 1px 0 0 currentColor;
}

.message {
  p {
    margin-bottom: 0;
  }
}

.bg-danger {
  background-color: var(--error);
}

.text-white {
  color: var(--w-g750);
}

.rf-grid-row {
  &:not(.rf-card-deck) {
    .rf-card {
      height: unset;
    }
  }
  &.rf-card-deck {
    .rf-card {
      height: 100%;
    }
  }
}

.form-inline {
  display: flex;
  flex-direction: row;
  > * {
    flex-grow: 1;
    flex-basis: 0;
  }
  .rf-input-group {
    margin-bottom: 0;
  }
}

.rf-bg--alt-2 {
  background-color: var(--bg-alt-2);
  color: var(--g700);
}

.rf-bg--alt-3 {
  background-color: var(--bg-alt-3);
  h2 {
    color: var(--g100);
  }
}

:root:not([data-theme="dark"]) {
  .rf-bg--alt-2 {
    --bg-alt-2: #0682ff;
    --g700: white;
    --bf500: white;
    --w-bf500: #0682ff;
    .rf-btn {
      --color-hover: rgba(0, 0, 0, 0.05);
      --color-active: rgba(91, 91, 255, 0.5);
    }
  }
  .rf-bg--hero-image {
    --bg-image: rgba(0, 68, 148, 0.5);
  }
  .rf-bg--alt-3 {
    --bg-alt-3: #004494;
  }
}

:root {
  .rf-bg--alt-2 {
    --bg-alt-2: rgb(0, 68, 148);
    --g800: white;
    --bf500: white;
    --w-bf500: #0682ff;
    .rf-btn {
      --color-hover: rgba(0, 0, 0, 0.05);
      --color-active: rgba(91, 91, 255, 0.5);
    }
  }
  .rf-bg--hero-image {
    --bg-image: rgba(33, 33, 33, 0.5);
  }
  .rf-bg--alt-3 {
    --bg-alt-3: rgb(33, 33, 33);
  }
}

.rf-bg--hero-image {
  h1 {
    padding: 2rem 0;
  }
}

@media (min-width: 768px) {
  .block--overlap {
    margin-top: -80px !important;
  }
  .rf-bg--hero-image {
    min-height: 200px;
    h1 {
      padding: 13rem 0;
    }
  }
}
