$card-spacer-x: 2.5rem;
$card-bg: #fff;
@import 'common';
@import 'footer';
@import 'stepper';

body > .navbar.bg-white .nav-item .nav-link {
  line-height: 34px;
}

nav.navbar {
  & + div {
    height: 50px;
    background-color: $secondary;
    & + div {
      height: 85px;
      background-color: $quaternary;
    }
  }
  &.fixed-top {
    & + div {
      margin-top: 50px;
    }
  }
}

.basic-infos {
  @extend .d-flex, .my-4;
  .info {
    @extend .text-nowrap;
  }
  &.vertical {
    @extend .flex-column;
    > .info {
      @extend .mt-1;
      &:first-child {
        @extend .mt-0;
      }
    }
  }
  &.horizontal {
    @extend .flex-row, .flex-wrap, .justify-content-center;
    > .info {
      @extend .ml-4, .mt-1;
      &:first-child {
        @extend .ml-0;
      }
    }
  }
}

.intro-bg {
  height: 200px;
  background: no-repeat center center;
  background-size: cover;
  @include media-breakpoint-up(md) {
    height: 410px;
  }
}

.pushed-top {
  margin-top: -6rem;
}

.job-offer-head-sticky {
  @extend .position-sticky;
  @extend .mb-4, .mb-md-0;
  @extend .pushed-top;
  top: 100px;
}

.job-application-summary {
  color: inherit;
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.job-offer-category {
  .job-offers {
    > .job-offer {
      @extend .mt-4;
      &:first-child {
        @extend .mt-3;
      }
    }
  }
}

.custom-file-label {
  line-height: 1.5;
  &.selected {
    padding-left: 2.5rem;
  }
}

.custom-file {
  .delete {
    height: 2.25rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    padding: 0.375rem 0.5rem;
    line-height: 1.5;
    color: white;
    background-color: lighten($danger, 20%);
    transition: background-color 0.2s $bmd-animation-curve-default;
    cursor: pointer;
    &:hover {
      background-color: lighten($danger, 10%);
    }
  }
}
