.card
  .card-header.with-subheader.bg-white.font-weight-bold.text-secondary
    = fa_icon('file-document', class: 'text-secondary')
    = t(".title")
  - ary = []
  - ary << [t(".subtitle_1"), (User::FILES_DURING_SUBMISSION + User::FILES_JUST_AFTER_SUBMISSION)]
  - ary << [t(".subtitle_2"), User::FILES_FOR_PAYROLL]
  - ary.each do |subary|
    - text = subary[0]
    - fields = subary[1]
    .card-subheader.bg-card-bg.font-weight-bold.text-muted
      = text
    .card-body.bg-white.files-list
      = render partial: "job_application_file", locals: {job_application: @job_application}, collection: fields, as: :field
