.d-flex.justify-content-start
  = image_user_tag job_application.user.photo, width: 40, class: 'mr-2'
  .d-flex.flex-column
    %strong.text-secondary= job_application.user.full_name
    %strong.small.text-muted= job_application.personal_profile&.current_position
  .ml-auto
