.card
  .card-header.with-subheader.bg-white.font-weight-bold.text-secondary
    = fa_icon('file-document', class: 'text-secondary')
    = t(".title")
  .card-body.bg-white.files-list
    = render partial: "/admin/job_application_files/job_application_file", locals: {job_application: @job_application}, collection: @job_application.job_application_files
