- id = dom_id(@job_application, 'emails')
.d-flex.flex-column{id: id}
  = render partial: '/admin/emails/form'
  = render partial: '/admin/emails/email', collection: @job_application.emails.order(created_at: :desc).includes(:sender), as: :email
