- target_state = JobApplication.states.first.last
- target_file_type_ids = JobApplicationFileType.where(by_default: true, from_state: target_state, kind: :applicant_provided).select(:id).all.map(&:id)
- job_application.job_application_files.where(job_application_file_type_id: target_file_type_ids).each do |job_application_file|
  - if job_application_file.content.present?
    - file_type = job_application_file.job_application_file_type
    .card
      .card-header.with-subheader.bg-white.font-weight-bold.text-secondary
        = fa_icon('file-document', class: 'text-secondary')
        = file_type.name
      .card-subheader.bg-secondary
      .card-body.bg-body-bg
        - pdf_url = url_for([:admin, job_application, job_application_file, {format: :pdf}])
        %object{data: pdf_url, type: "application/pdf", width: "100%", height: "500px"}
          = link_to t("buttons.download") + file_type.name, pdf_url
- if @other_job_applications.any?
  = render partial: 'user_job_applications', locals: {job_applications: @other_job_applications}
