#list
  .container
    .row
      .col-12.text-center
        .font-weight-bold.text-secondary.mt-3.mb-4
          = t('.job_applications_count', count: @results.count)
  .job-applications-list
    = render partial: 'job_application', collection: @results
  .mt-5
    = will_paginate @results
