- job_offer = job_application.job_offer
.card{id: dom_id(job_application, 'profile')}
  .card-header.bg-white.font-weight-bold.text-secondary
    = fa_icon('file-document', class: 'text-secondary')
    Spécificités vis-à-vis de l'offre sélectionnée
  .card-body.bg-white
    - %i[skills_fit_job_offer experiences_fit_job_offer].each do |field|
      - hsh = { form_object: job_application, field: field, disabled: is_archived }
      = render partial: '/admin/profiles/profile_field', locals: hsh
