.bg-secondary.text-center
  %ul.navbar-nav.flex-row.justify-content-center
    %li.nav-item.active
      = link_to t('.search'), [:admin, :job_applications], class: 'nav-link'
    %li.nav-item
      = link_to t('.my_job_applications'), [:admin, :job_applications], class: 'nav-link'
.bg-quaternary
= render partial: 'filters'
= render partial: 'list'
.modal.fade#remoteContentModal{tabindex: -1, role: :dialog, aria: {labelledby: :remoteContentModal, hidden: true}}
  .modal-dialog.modal-lg{role: :document}
    .modal-content
      .modal-body.p-0
