.bg-secondary.text-center
  %ul.navbar-nav.flex-row.justify-content-center
    %li.nav-item.active
      = link_to t('.search'), [:admin, :job_applications], class: 'nav-link'
    %li.nav-item
      = link_to t('.my_job_applications'), [:admin, :job_applications], class: 'nav-link'
.bg-quaternary
.container
  .row
    .col-12.text-center
      .font-weight-bold.text-secondary.mt-3= t('.job_applications_count', count: @job_applications.count)
.container-fluid
  .card-deck
    = render partial: 'job_application', collection: @job_applications

.modal.fade#remoteContentModal{tabindex: -1, role: :dialog, aria: {labelledby: :remoteContentModal, hidden: true}}
  .modal-dialog.modal-lg{role: :document}
    .modal-content
      .modal-body.p-0
