%h1.h5.text-primary.mt-4 Délai moyen de recrutement (en jours)
.statistics-row.mt-3
  .col-12.col-md-3.statistic__block
    .statistic__name Date de publication offre → Date d'affectation agent
    .statistic__value
      = @state_duration[:average]
