%nav.fr-sidemenu.fr-sidemenu--sticky-full-height{"aria-label" => "Menu latéral"}
  .fr-sidemenu__inner
    %button.fr-sidemenu__btn--sidemenu-toggle{"aria-controls" => "fr-sidemenu-wrapper", "aria-expanded" => "false", :hidden => ""} Dans cette rubrique
    #fr-sidemenu-wrapper.fr-sidemenu__wrapper
      .fr-sidemenu__title Mon espace candidat
      %ul.fr-sidemenu__list
        - klass = controller.controller_name == 'job_applications' ? 'fr-sidemenu__item--active' : nil
        %li.fr-sidemenu__item{class: klass}
          = link_to "Mes candidatures", [:account, :job_applications], class: "fr-sidemenu__link"
        - klass = controller.controller_name == 'users' && controller.action_name == 'edit' ? 'fr-sidemenu__item--active' : nil
        %li.fr-sidemenu__item{class: klass}
          = link_to "Mes informations", [:edit, :account, :user], class: "fr-sidemenu__link"
        - klass = controller.controller_name == 'users' && controller.action_name == 'show' ? 'fr-sidemenu__item--active' : nil
        %li.fr-sidemenu__item{class: klass}
          = link_to "Mon compte", [:account, :user], class: "fr-sidemenu__link"
        - UserMenuLink.all.each do |menu_link|
          %li.fr-sidemenu__item
            = link_to menu_link.name, menu_link.url, class: "fr-sidemenu__link", target: "_blank"
