%nav.fr-sidemenu.fr-sidemenu--sticky-full-height{"aria-label" => "Menu latéral"}
  .fr-sidemenu__inner
    %button.fr-sidemenu__btn--sidemenu-toggle{"aria-controls" => "fr-sidemenu-wrapper", "aria-expanded" => "false", :hidden => ""} Dans cette rubrique
    #fr-sidemenu-wrapper.fr-sidemenu__wrapper
      .fr-sidemenu__title Mon espace candidat
      %ul.fr-sidemenu__list
        - aria_current = controller.controller_name == 'job_applications' ? "page" : nil
        %li.fr-sidemenu__item
          = link_to "Mes candidatures", [:account, :job_applications], class: "fr-sidemenu__link", "aria-current" => aria_current
        - aria_current = controller.controller_name == 'users' ? "page" : nil
        %li.fr-sidemenu__item
          = link_to "Mon compte", [:account, :user], class: "fr-sidemenu__link", "aria-current" => aria_current
