.job-offer-content {
  ul, ol {
    padding: 0 0 0 40px;
  }

  align-left {
    text-align: left;
    width: 100%;
    display: block;
  }

  align-center {
    text-align: center;
    width: 100%;
    display: block;
  }

  align-right {
    text-align: right;
    width: 100%;
    display: block;
  }

  align-justify {
    text-align: justify;
    width: 100%;
    display: block;
  }
}
