.job-offer-content {
  ul, ol { 
    display: block;
    list-style: disc outside none;
    margin: 1em 0;
    padding: 0 0 0 40px;
  }

  ol { 
    list-style-type: decimal;
    counter-reset: revert;
  }

  li { 
    display: list-item;
  }

  align-left {
    text-align: left;
    width: 100%;
    display: block;
  }

  align-center {
    text-align: center;
    width: 100%;
    display: block;
  }

  align-right {
    text-align: right;
    width: 100%;
    display: block;
  }

  align-justify {
    text-align: justify;
    width: 100%;
    display: block;
  }
}
