@import 'flatpickr/dist/flatpickr';
@import 'lightpick/css/lightpick';
@import 'trix/dist/trix';
@import 'node-snackbar/dist/snackbar';
@import './autocomplete';
@import './common';
@import './devise';
@import './board';
@import './combobox';

$fa-font-path: ".";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/v4-shims";

$colors: $secondary $primary $tertiary $quaternary $quinary $dark-gray;
@import 'highcharts/css/highcharts.scss';

@supports (position: sticky) {
  [role="main"] .card {
    z-index: unset;
  }
}

th {
  font-weight: $font-weight-bold;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, .02);
}

.card {
  > table {
    thead th {
      border-bottom-width: 1px;
    }
    > tbody, > thead {
      > tr {
        &:first-child {
          > th, > td {
            border-top: 0;
          }
        }
        > th, > td {
          &:first-child {
            padding-left: $card-spacer-x;
          }
        }
      }
    }
  }
}

body {
  @extend .pb-5;
  margin-top: 50px;
}

.list-group {
  &.stepper {
    .list-group-item {
      @extend .px-3, .py-1;
      border-left: 4px solid transparent;
      color: #393939;
      // TODO transition: color 0.2s $bmd-animation-curve-default;
      will-change: color, transform;
      outline: 0;
      color: black;
      font-weight: 500;
      &.disabled {
        color: #cdcdcd;
      }
      &.active {
        background-color: $card-bg;
        border-left-color: $primary;
        .badge {
          &.badge-pill {
            color: $primary;
            border-color: $primary;
          }
        }
      }
      &.menu {
        @extend .pt-3, .pb-0;
        color: $body-color;
        text-transform: uppercase;
      }
      .badge {
        &.badge-pill {
          @extend .badge, .rounded-circle, .px-0, .py-0, .font-weight-normal;
          width: 1.2rem;
          height: 1.2rem;
          line-height: 1.1rem;
          border: 1px solid #cdcdcd;
        }
      }
    }
  }
}

$job-application-gutter: 3px;
.job-applications-list {
  @extend .d-flex, .flex-wrap;
  margin-right: $job-application-gutter;
  margin-left: $job-application-gutter;
  .job-application {
    @extend .mt-3;
    background-color: white;
    margin-right: $job-application-gutter * 2;
    margin-left: $job-application-gutter * 2;
    @include media-breakpoint-up(sm) {
      flex: 0 0 calc(100%);
    }
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(100%/4 - #{$job-application-gutter * 4});
    }
    @include media-breakpoint-up(xl) {
      flex: 0 0 calc(100%/5 - #{$job-application-gutter * 4});
    }
  }
}

.bg-card-bg {
  background-color: $card-bg;
}

.bg-body-bg {
  background-color: $body-bg;
}

.badge-counter {
  @extend .badge, .rounded-circle, .px-0, .py-0, .font-weight-bold;
  font-size: 100%;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  &:hover {
    text-decoration: none;
  }
}

#message_body {
  height: 110px;
}

#email_body,
#multiple_recipients_email_body {
  height: 200px;
}

.tab-pane {
  > .card, > * > .card {
    @extend .mt-4;
    &:first-child {
      @extend .mt-0;
    }
  }
}

.activity {
  textarea {
    @extend small;
  }
  textarea, .card-body {
    @extend .px-2, .py-2;
  }
}

.activities {
  color: #4e6e7c;
  @extend small;
  @extend .mt-3;
  > li {
    @extend .mb-3;
    &:last-child {
      @extend .mb-0;
    }
    .photo {
      @extend .mr-3;
      margin-top: 0.15rem;
    }
    .user-name {
      font-weight: $font-weight-bold;
    }
    .card {
      color: #787878;
    }
  }
}

.files-list {
  > .file {
    @extend .mb-2;
    &:last-child {
      @extend .mb-0;
    }
  }
}

.pushed-top {
  margin-top: -3rem;
}

.new_job_offer, .edit_job_offer {
  .job_offer_option_photo, .job_offer_option_website_url {
    .form-check.form-check-inline {
      &:first-of-type {
        @extend .invisible;
      }
    }
  }
}

a.badge:not(.badge-danger) {
  color: inherit;
}

a {
  &.card-body {
    &:hover, &:visited {
      text-decoration: none;
      outline: 0;
    }
  }
}

.dropdown-menu {
  z-index: 1031; //just above top navbar
}

.dropdown-toggle {
  @extend .d-flex, .align-items-center, .bg-white;
  text-align: left;
  &::after {
    @extend .ml-auto;
  }
}

.dropdown {
  &.dropdown-checks {
    .dropdown-menu {
      max-height: 200px;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 1rem;
      margin-top: 0;
      width: 100%;
      left: 0 !important;
      ul {
        list-style: none;
        padding-left: 0;
        ul {
          padding-left: 20px;
        }
      }
    }
  }
}

.estimate_monthly_salary_net_reference, .estimate_annual_salary_gross_reference {
  @extend .font-italic;
}

.form-horizontal.auto-submit {
  .form-group {
    @extend .mb-2;
  }
}

.in-place-edit, .in-place-label {
  @extend .form-control;
  background-color: inherit;
  box-shadow: inherit;
  border-color: transparent;
}

.in-place-edit {
  .icon {
    visibility: hidden;
  }
  &:hover {
    .icon {
      visibility: visible;
    }
  }
}

.opacify {
  opacity: 0.4;
}

.table-like {
  display: table;
  width: 100%;
  table-layout: fixed;
  .tr {
    display: table-row;
  }
  .td, .th {
    display: table-cell;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid rgba(0, 0, 0, .06);
    select, input {
      width: 100%;
    }
  }
}

.edit_job_application_file {
  input[type="file"] {
    display: none;
  }
}

.card {
  &.bg-transparent {
    box-shadow: none;
    .card-body {
      padding-bottom: 0;
    }
  }
}

.user-card-title, .user-full-name, .personal-profile-current-position, .personal-profile-is-currently-employed, .user-job-applications-count, .personal-profile-address-short {
  @extend .text-truncate, .font-weight-bold, .text-primary;
}
.job-application {
  .user-card-title, .user-full-name, .category-experience-levels, .study-level, .personal-profile-current-position, .personal-profile-is-currently-employed, .user-job-applications-count, .personal-profile-address-short {
    @extend .text-dark;
  }
}
.user-full-name {
  padding-right: 5px;
}
.personal-profile-address-short {
  padding-left: 5px;
}
.category-experience-levels, .study-level, .personal-profile-current-position, .personal-profile-is-currently-employed, .user-job-applications-count {
  padding-left: 5px;
  padding-right: 5px;
}
.user-full-name {
  @extend .col-md-5;
  flex: 0 0 35%;
  max-width: 35%;
}
.category-experience-levels {
  @extend .col-md-5;
  flex: 0 0 29%;
  max-width: 29%;
}
.study-level {
  @extend .col-md-5;
  flex: 0 0 25%;
  max-width: 25%;
}
.personal-profile-current-position {
  @extend .col-md-5;
  flex: 0 0 36%;
  max-width: 36%;
}
.personal-profile-is-currently-employed {
  @extend .col-md-1;
  flex: 0 0 8%;
  max-width: 8%;
}
.user-job-applications-count {
  @extend .col-md-1, .text-center;
  flex: 0 0 11%;
  max-width: 11%;
}
.personal-profile-address-short {
  @extend .col-md-2;
  flex: 0 0 15%;
  max-width: 15%;
}

.job_application_user_profile_address {
  .ap-icon-pin {
    display: none;
  }
}

.statistic__block {
  @extend .d-flex, .flex-column, .border-right, .px-4, .py-4;
}
.statistics-row {
  @extend .d-flex, .flex-wrap;
  > .statistic__block {
    &:last-child {
      @extend .border-right-0;
    }
  }
}
.statistic__name {
  @extend .flex-fill, .text-quaternary, .font-weight-bold;
  line-height: 1.1;
}
.statistic__value {
  @extend .d-flex, .justify-content-center, .mt-3, .mb-0, .font-weight-bold;
  color: $secondary;
  line-height: 1;
  font-size: 400%;
}

.bar-chart__category_name {
  width: 25ch;
}

.bar-chart__category_percentage {
  @extend .text-secondary, .font-weight-bold;
  width: 8ch;
}

.bar-chart__bar {
  @extend .bg-secondary;
  height: 15px;
}

.sticky-top {
  top: 50px;
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-left: -15px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}

.scroll {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 1rem 1rem;
  position: fixed;
  bottom: 1.2rem;
  right: 1.5rem;
  z-index: 150 !important;
}

.password-visibility-toggle {
  float: right;
  margin-right: 10px;
  margin-top: -42px;
  position: relative;
  z-index: 2;
  color: var(--g500);
}

.warning-snackbar {
  background-color: $orange !important;

  p {
    color: #000 !important;
    font-weight: bold !important;
    line-height: 1.5em !important;
  }
}
.nocheck textarea {
  background-image: none !important;
}

.tooltip-rich {
  .tooltip-inner {
    background-color: transparent;
  }
}
.tooltip-rich.tooltip.show {
  opacity: 1;
}

.grabbable {
  cursor: grab;
}

.grabbed {
  cursor: grabbing;
  background-color: $quaternary;
}
