@import "@gouvfr/dsfr/dist/css/dsfr.min";
@import "./flex-utilities";
@import "./stepper";
@import "./alert";
@import "./france-connect";
@import "./job_offer_content";
@import "./new_user";
@import "./fonts";

$fa-font-path: ".";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/v4-shims";

// Design System overflow fix
@media (min-width: 48em) {
  .rf-header .rf-nav {
    margin: 0 calc(50% - 49vw) !important;
  }
}

input {
  &.rf-btn {
    border: 0;
  }
}

.rf-bg-beige {
  background-color: var(--beige);
}

.rf-border-0 {
  border: 0;
}

.rf-bg--alt {
  h1 {
    color: var(--g100);
  }
}

.rf-b--g100 {
  border-color: var(--g100);
}

.block--overlap {
  margin-top: 3rem;
}

.block--underlap {
  padding-top: 80px;
  margin-top: -80px;
}

.rf-bg--hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h-auto {
  height: auto !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.rf-icon {
  height: 1rem;
  width: auto;
  display: inline-block;
  font-size: inherit;
  line-height: 1;
  overflow: visible;
  fill: currentColor;
  top: 0.375em;
  position: relative;
  &.rf-icon-xl {
    height: 1.5rem;
  }
}

.rf-top-3w {
  top: 1.5rem;
}

.invisible {
  visibility: hidden;
}

label {
  a {
    display: inline;
  }
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    5px 4px 6px -2px rgba(0, 0, 0, 0.05), -5px -4px 6px -2px rgba(0, 0, 0, 0.05);
}

.rf-card {
  &.rounded-lg {
    overflow: hidden;
  }
  a {
    box-shadow: 0 0 0 0 currentColor;
  }
}

.rounded-lg {
  border-radius: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.w-100 {
  width: 100%;
}

.avatar {
  height: 1.5rem;
  width: auto;
}
.avatar-xl {
  height: 10rem;
  width: auto;
}

h1,
h2 {
  small {
    color: var(--g600);
  }
}

.rf-box {
  box-shadow: 0 1px 0 0 currentColor;
}

.message {
  p {
    margin-bottom: 0;
  }
}

.bg-danger {
  background-color: var(--error);
}

.text-white {
  color: var(--w-g750);
}

.rf-grid-row {
  &:not(.rf-card-deck) {
    .rf-card {
      height: unset;
    }
  }
  &.rf-card-deck {
    .rf-card {
      height: 100%;
    }
  }
}

.form-inline {
  display: flex;
  flex-direction: row;
  > * {
    flex-grow: 1;
    flex-basis: 0;
  }
  .rf-input-group {
    margin-bottom: 0;
  }
}

.rf-bg--alt-2 {
  background-color: var(--bg-alt-2);
  color: var(--g700);
}

.rf-bg--alt-3 {
  background-color: var(--bg-alt-3);
  h2 {
    color: var(--g100);
  }
}

:root:not([data-theme="dark"]) {
  .rf-bg--alt-2 {
    --bg-alt-2: #0682ff;
    --g700: white;
    --bf500: white;
    --w-bf500: var(--bf500-plain);
    .rf-btn {
      --color-hover: rgba(0, 0, 0, 0.05);
      --color-active: rgba(91, 91, 255, 0.5);
    }
  }
  .rf-bg--hero-image {
    --bg-image: rgba(0, 0, 145, 0.4);
  }
  .rf-bg--alt-3 {
    --bg-alt-3: #004494;
  }
}

:root {
  .rf-bg--alt-2 {
    --bg-alt-2: rgb(0, 68, 148);
    --g800: white;
    --bf500: white;
    --w-bf500: #0682ff;
    .rf-btn {
      --color-hover: rgba(0, 0, 0, 0.05);
      --color-active: rgba(91, 91, 255, 0.5);
    }
  }
  .rf-bg--hero-image {
    --bg-image: rgba(33, 33, 33, 0.5);
  }
  .rf-bg--alt-3 {
    --bg-alt-3: rgb(33, 33, 33);
  }
}

.rf-hero {
  h1 {
    padding: 2rem 0;
  }
}

@media (min-width: 768px) {
  .block--overlap {
    margin-top: -80px !important;
  }

  .rf-hero {
    height: 22rem;
  }

  .job-offer-grid {
    > *:nth-child(2n) {
      padding-left: 2.5rem;
    }
    > *:nth-child(2n + 1) {
      padding-right: 2.5rem;
    }
  }
}

.text-justify {
  text-align: justify;
}

.rf-nav__item--active > .rf-link {
  pointer-events: initial;
}

.job-offer-index {
  input[type="submit"] {
    position: sticky;
  }

  .rf-accordion .rf-collapse--expanded {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .side {
    width: initial;
    padding: 0;
  }
  .rf-sidemenu__list {
    .rf-sidemenu__list {
      margin: 0 0.5rem;
      .rf-sidemenu__list .rf-label {
        font-size: 0.95rem;
        padding: 0.5rem 0;
      }
    }
  }
}
.blank_button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.highlight {
  border: 2px dashed purple;
  margin: -2px;
}

.scroll {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 1rem 1rem;
  position: fixed;
  bottom: 1.2rem;
  right: 1.5rem;
}

.social-links {
  float: right;
  svg {
    top: 0;
  }
  a {
    box-shadow: none !important;
  }
  a::after {
    content: none !important;
  }
  svg {
    fill: var(--bf500);
  }
  svg:hover {
    fill: rgba(0, 0, 246);
  }
}

.hidden-file-input input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.font-weight-bold {
  font-weight: bold;
}
.error-text {
  color: var(--error);
}
.valid-text {
  color: var(--success);
}

.rf-checkbox-group input[type="checkbox"] + label {
  direction: initial !important;
  grid-template-columns: 30px 90% !important;
}

.rf-checkbox-group input[type="checkbox"] + label:before {
  float: left !important;
  grid-column: 1 !important;
}

.spinner {
  svg {
    animation: spin 4s linear infinite;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
