- @notifications.each do |kind, notifications|
  - if notifications.present?
    %h1= t(".#{kind}.title")
    %ul
      - notifications.each do |notification|
        %li
          = notification.title
          %br
          = link_to notification.url, notification.url
