- content_for :content do
  .fr-container.fr-pb-6w.fr-pt-5w
    .fr-grid-row.fr-grid-row--gutters.fr-grid-row--center
      .fr-col-12.fr-col-md-10.fr-col-xl-8
        %h1.fr-mt-0= @page_title
        = yield
= render template: "layouts/application"
