- content_for :content do
  .rf-container.rf-pb-6w.rf-pt-5w
    .rf-grid-row.rf-grid-row--gutters.rf-grid-row--center
      .rf-col-xs-12.rf-col-md-10.rf-col-xl-8
        %h1.rf-mt-0= @page_title
        = yield
= render template: "layouts/application"
