- content_for :content do
  .fr-container.fr-pb-6w.fr-pt-5w
    .fr-grid-row.fr-grid-row--gutters.fr-grid-row--center
      .fr-col-12.fr-col-md-7.fr-col-xl-5
        %div{data: {turbo: 'false'}}
          = yield
= render template: "layouts/application"
