- content_for :content do
  .rf-container.rf-pb-6w.rf-pt-5w
    .rf-grid-row.rf-grid-row--gutters
      .rf-col-12.rf-py-0
        = render partial: 'breadcrumb'
    .rf-grid-row.rf-grid-row--gutters
      .rf-col-12.rf-col-md-5
        .rf-callout.rf-sidemenu--sticky.h-auto.rf-top-3w
          .rf-callout__text
            = render partial: 'job_offer_head', locals: {job_offer: @job_offer, inside_card: true}
      .rf-col-12.rf-col-md-7
        = yield
= render template: "layouts/application"
