- content_for :content do
  .fr-container.fr-pb-6w.fr-pt-5w
    .fr-grid-row.fr-grid-row--gutters
      .fr-col-12.fr-py-0
        = render partial: 'breadcrumb'
    .fr-grid-row.fr-grid-row--gutters
      .fr-col-12.fr-col-md-5
        .fr-callout.fr-sidemenu--sticky.h-auto.fr-top-3w
          .fr-callout__text
            = render partial: 'job_offer_head', locals: {job_offer: @job_offer, inside_card: true}
      .fr-col-12.fr-col-md-7
        = yield
= render template: "layouts/application"
