<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .button {
        border-radius: 2px;
      }
      .button a {
        padding: 8px 12px;
        border: 1px solid #0084f8;
        border-radius: 0;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
